{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table_striped">
        <thead>
            <tr>
                <th>namad</th>
                <th>no</th>
                <th>saham</th>
                <th>gh</th>
                <th>zaman</th>
            </tr>
        </thead>

        <tbody>
            {% for x in trans %}
            <tr>
                <td> {{ x["symbol"].upper() }} </td>
                <td> {{ x["type"] }} </td>
                <td> {{ x["shares"] }} </td>
                <td> {{ usd(x["price"]) }} </td>
                <td> {{ x["time"] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
